:root {
  --color-bg: #ffffff;
  --color-text: rgba(27, 27, 27, 1);
  --color-accent: #1664EA;
  --color-alt: #f6d363;
  --color-dev-bg: rgba(27, 27, 27, 1);
  --color-about-subtitle: rgba(27, 27, 27, 0.25);
  --color-link-bg: rgba(232, 232, 232, 1);
  --border-link: 1px solid rgba(232, 232, 232, 1);
  --progress-bar-bg: rgba(27, 27, 27, 1);
  --color-card-bg: rgba(27, 27, 27, 1);
  --border-card: none;
  --border-exp-card: 1px solid rgba(27, 27, 27, 0.25);
  --color-text-exp: rgba(27, 27, 27, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: rgba(48, 48, 48, 1);
    --color-text: rgba(225, 225, 225, 1);
    --color-accent: #1664EA;
    --color-alt: rgba(37, 37, 37, 1);
    --color-dev-bg: rgba(48, 48, 48, 1);
    --color-about-subtitle: rgba(255, 255, 255, 0.25);
    --color-link-bg: rgba(22, 100, 234, 1);
    --border-link: none;
    --progress-bar-bg: rgba(22, 100, 234, 1);
    --color-card-bg: rgba(225, 225, 225, 1);
    --border-card: 1px solid rgba(232, 232, 232, 1);
    --border-exp-card: 1px solid rgba(255, 255, 255, 0.25);
    --color-text-exp: rgba(22, 100, 234, 1);
  }
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  line-height: 1.6;
  transition: background 0.4s ease, color 0.4s ease;
}

.theme-icon::before {
  content: "🌙";
  transition: transform 0.4s ease;
}

.theme-checkbox:checked ~ .page .theme-icon::before {
  content: "☀️";
  transition: transform 0.4s ease;
}

.theme-checkbox:checked ~ .page {
  --color-bg: #ffffff;
  --color-text: rgba(27, 27, 27, 1);
  --color-accent: #1664EA;
  --color-alt: #f6d363;
  --color-dev-bg: rgba(27, 27, 27, 1);
  --color-about-subtitle: rgba(27, 27, 27, 0.25);
  --color-link-bg: rgba(232, 232, 232, 1);
  --border-link: 1px solid rgba(232, 232, 232, 1);
  --progress-bar-bg: rgba(27, 27, 27, 1);
  --color-card-bg: rgba(27, 27, 27, 1);
  --border-card: none;
  --border-exp-card: 1px solid rgba(27, 27, 27, 0.25);
  --color-text-exp: rgba(27, 27, 27, 1);
}

.theme-checkbox {
  display: none;
}

.theme-toggle {
  cursor: pointer;
  color: var(--color-text);
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  user-select: none;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.header {
  background: var(--color-bg);
  padding: 15px 0;
  position: sticky;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-text);
  font-weight: 400;
  -webkit-user-drag: none;
  user-select: none;
}

.btn {
  background: var(--color-accent);
  border: none;
  color: white;
  padding: 14px;
  border-radius: 5px;
  font-size: 20px;
  transition: background 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

.section {
  padding: 80px 0;
  background: var(--color-bg);
}

.section--alt {
  background: var(--color-alt);
}

.about__subtitle {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.3cap;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-about-subtitle);
}

.about__subtitle--alt {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.3cap;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-about-subtitle);
  margin: 20px;
}

.section__title {
  color: var(--color-text);
  font-size: 40px;
  line-height: 120%;
}

.section__title--alt {
  text-align: center;
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  color: var(--color-text);
  margin: 20px;
}

.section__subtitle {
  color: var(--color-text);
  max-width: 500px;
}

.section__subtitle--alt {
  color: var(--color-text);
  text-align: center;
  max-width: 430px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.accent {
  color: var(--color-accent);
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.about__text {
  flex: 1;
  min-width: 300px;
}

.social {
  display: flex;
  max-width: 250px;
  max-height: 50px;
  margin: 70px 0 0 0;
  justify-content: space-between;
  align-items: center;
}

.social__title {
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-link-bg);
  border-radius: 2px;
  border: var(--border-link);
  justify-content: center;
  align-items: center;
}

.link__image {
  width: 60%;
  height: 60%;
  -webkit-user-drag: none;
}

.about__image {
  flex-shrink: 0;
  width: 444px;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/images/Vector.png") no-repeat center;
  background-size: contain;
  z-index: 0;
}

.about__image-box {
  position: relative;
  width: 310px;
  height: 290px;
  background-color: transparent;
  border-radius: 49px;
  overflow: hidden;
  transform: rotate(21deg);
  z-index: 1;
}

.about__image_john {
  width: 125%; /* костыль */
  height: 125%; /* костыль */
  object-fit: cover;
  transform: rotate(-21deg) translate(-9%, -12%); /* костыль */
  -webkit-user-drag: none;
}

.about__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.container--alt {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.skills__container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.skills__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0 46.5px 0 0;
  max-width: 307px;
  justify-self: end;
}

.skills__tags li {
  background: var(--color-dev-bg);
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}

.skills__bars {
  list-style: none;
  padding: 0;
  max-width: 400px;
  color: var(--color-text);
}

.skill__title {
  margin: 0 0 40px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.bar {
  margin: 20px 0;
}

.bar__label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.bar__background {
  position: relative;
  width: 100%;
  height: 5px;
  background: rgba(225, 225, 225, 1);
  border-radius: 4px;
  overflow: hidden;
}

.bar__progress {
  height: 100%;
  background: var(--progress-bar-bg);
  border-radius: 4px;
  transition: width 0.4s ease;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(3, 286px);
  gap: 20px;
  list-style: none;
  padding: 60px 0;
  
}

.card {
  background: black;
  border-radius: 15px;
  text-align: start;
}

.card__background {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  background-color: rgba(27, 27, 27, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: var(--border-card);
}

.card__category {
  margin: 40px 0 20px 40px;
  font-size: 12px;
  letter-spacing: 0.4cap;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.card__title {
  margin: 0 0 0 40px;
}

.card__btn {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  width: 130px;
  height: 52px;
  border-radius: 5px;
  padding: 14px;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 40px 40px;
  cursor: pointer;
  color: rgba(27, 27, 27, 1);
  transition: background 0.4s ease, color 0.4s ease;
}

.card__btn:hover {
  background-color: rgba(27, 27, 27, 1);
  color: rgba(255, 255, 255, 1);
}

.cool__two { 
  background: url('/images/cool__two.png')no-repeat center;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 1;
}

.cool__three {
  background: url('/images/cool__three.png')no-repeat center;
  background-size: cover;
  grid-row: span 2;
}

.cool__line {
  background: url('/images/cool__line.png')no-repeat center;
  background-size: cover;
  grid-row: span 2;
}

.cool__head {
  background: url('/images/cool__head.png')no-repeat center;
  background-size: cover;
  grid-row: span 2;
}

.cool__three-line {
  background: url('/images/cool__three-line.png')no-repeat center;
  background-size: cover;
  grid-row: span 2;
}

.cool__two-line {
  background: url('/images/cool__two-line.png')no-repeat center;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 1;
}

.experience__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.exp-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  background: transparent;
  border: var(--border-exp-card);
  border-radius: 10px;
  text-align: start;
  color: var(--color-text);
  line-height: 140%;
  height: 338px;
  padding: 0 120px 0 0;
}

.exp-card__title {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0 0 40px;
}

.exp-card__text {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0 40px;
}

.exp-card__number {
  font-size: 100px;
  color: var(--color-text-exp);
  margin: 0 0 63px 40px;
}
